.testimonials.card{
    width: 16rem;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.testimonial__profile{
    margin-bottom: 1rem;
}

.testimonial__content > h4{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .testimonial__content h4{
        font-size: var(--fsize-300);
    }    
}