/*Image banner */
.banner {
    background-image: url("../../../Assets/Images/Banner/sale-banner.webp");
    width: 100%;
    height: 60vh;
    background-position: top 4rem center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
    padding: 2rem;
}

@media screen and (max-width: 1280px) {
    .banner {
        height: 50vh;
        background-position: top 2rem;
    }
}
    
@media screen and (max-width: 680px) {
    .banner {
        height: 40vh;
    }
}