.cart__empty-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.cart__empty-container p{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-secondary);
    margin-top: 2rem;
}

.CTA__container .btn{
    padding: 5px;
}



.cart__container .btn:hover{
    box-shadow: none;
    transform: none;
}