@import url("https://fashgram-ui.netlify.app/lighttheme.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");
* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

.navigation{
    grid-area: header;
}

.sub-container{
    grid-area: main;
}

footer{
    grid-area: footer;
}

button.btn-link-text {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.btn.full-width {
  width: 100%;
  border-radius: 0;
}

.btn{
    padding: 10px;
}

.styled-title {
    text-align: center;
    margin: 4rem auto 2rem;
    line-height: 1.5;
    position: relative;
    padding-bottom: 10px;
    font-family: var(--ff-serif);
    font-weight: var(--fweight-regular);
    font-size: 2.5rem;
}

.styled-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 5px;
    background: var(--color-primary);
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-align-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .styled-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .styled-title {
        font-size: 1.75rem;
        margin: 3rem auto 2rem;
    }
}