@import url("https://fashgram-ui.netlify.app/lighttheme.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");

* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

.navigation{
    grid-area: header;
}

.sub-container{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.btn {
    padding: 15px initial;
}

button.btn-link-text {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.btn.full-width {
  width: 100%;
  border-radius: 0;
}
